# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/dataSources/a291292d-7575-4b22-b07b-bd84e8dbb5fc/storage_v2/_src_/schema/base.0QYuAA.meta
.idea/dataSources/a291292d-7575-4b22-b07b-bd84e8dbb5fc/storage_v2/_src_/schema/base.0QYuAA.zip
